@model IEnumerable<HereditaryDiseaseSystem.Models.Gene>

@{
    ViewData["Title"] = "Genetic Catalog";
}

<div class="d-flex justify-content-between mb-3">
    <p class="text-muted">
        Catalog of mapped genes and associated disorders.
    </p>

    <a asp-action="Create"
       class="btn btn-primary-custom">
        + Add New Gene
    </a>
</div>

<div class="card-master p-0">

    <table class="table-custom">

        <thead>
            <tr>
                <th>Gene Symbol</th>
                <th>Chromosome</th>
                <th>Diseases</th>
                <th>Phenotypes</th>
                <th class="text-end">Management</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        <span class="badge bg-primary-subtle text-primary p-2">
                            @item.Symbol
                        </span>
                    </td>

                    <td class="text-muted fw-medium">
                        @item.ChromosomeLocation
                    </td>

                    <td>
                        @item.GeneDiseases.Count
                    </td>

                    <td>
                        @item.GenePhenotypes.Count
                    </td>

                    <td class="text-end">

                        <a asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="btn btn-sm btn-light">
                            Edit
                        </a>

                        <a asp-action="Details"
                           asp-route-id="@item.Id"
                           class="btn btn-sm btn-light">
                            Details
                        </a>

                        <a asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="btn btn-sm btn-light text-danger">
                            Delete
                        </a>

                    </td>

                </tr>
            }

        </tbody>

    </table>
</div>